form {
    display: flex;
    flex-direction: column;
}

form > * {
    margin-bottom: 15px;
}
form > *:last-child {
    margin-bottom: 0;
}

input:valid {
    border: 2px solid green;
}
input:invalid {
    border: 2px solid red;
}