.btn {
  font-size: 1.6rem;
  line-height: 1.4rem;
  font-weight: 700;
  padding: .85rem 4rem .75rem;
  text-align: center;
  border: none;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  transition: .3s;
  box-shadow: 0.25rem 0.25rem 2.5rem rgba(0, 0, 0, 0.08);
  border-radius: 10rem;

}

.btn-primary {
  background-image: $bg-color-alternative;
  color: #fff;

  &:hover {
    color: #fff;
    background-image: $bg-color-alternative-hover;
  }

  &:visited {
    color: #fff;
    opacity: .8;
  }
}

.btn-alternative {
  color: #fff;
  border: 3px solid #fff;
  background-color: transparent;

  &:hover {
    color: $color-primary;
    background: #fff;
  }
}
